.container {
  height: auto;
  width: 100%;
  
}

.titulo {
  font-size: 25px;
  padding: 8px;
  text-align: start;
  text-decoration: underline;
  
}

.scrollContainer {
  height: 100px; /* El área que tendrá scroll */
  overflow-y: auto;
  overflow-x: hidden;
}

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 2px;
}

.element { /* Para ver cada "elemento" en el grid */
  padding: 2px 5px;
}

.ul {
    list-style-type: none;
}
