*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root{
  --color-body:rgb(255, 249, 240);
  --color-button: rgba(75, 192, 192, 1);
  --color-button-border:rgb(6, 28, 28);
}

.body{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-body);
}

.container{
  width: 70%;
  height:90%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  flex-direction: column;
}

.titulo{
margin: 25px;
padding: 8px;
font-size: 45px;
text-align: center;
}

.buton{
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px; 
  margin-bottom: 25px;
  background-color: var(--color-button);
  border-color:var(--color-button-border);
}